@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
section#bg {
  opacity: 0;
  z-index: -1;
  transition: 0s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}
section#main {
  z-index: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 60px;
  font-family: 'Crimson Text', serif;
}
section#main h1,
section#main h2 {
  font-family: castellar, serif;
  font-weight: 400;
  color: #fbb03b;
  text-align: center;
}
section#main h1 {
  font-size: 4rem;
}
section#main h2 {
  font-size: 2rem;
}
section#main p,
section#main ul li {
  font-size: 1.5rem;
}
section#main ul {
  list-style-type: square;
}
section#main p:first-of-type {
  text-align: center;
}
section#main p:first-of-type img {
  width: 250px;
}
